/* Style the HTML elements according to the following instructions.  */
/* Style the header */
header {
    background-color: lightblue;
    padding: 20px;
    }
    
    /* Style the h1 */
    /* Make the <h1> element #9b59b6*/
    /*Make the <h1> element's color change to blue when hovered over */
    h1 {
    color: #9b59b6;
    text-align: center;
    }
    h1:hover{
        color: blue;
    }
    
    /* Style the h2 */
    /* Make all <h2> elements orange */
    h2 {
    color: orange;
    text-decoration: underline;
    }
    
    /* Style the nav */
    nav {
    display: inline-block;
    }
    
    /* Style the checked checkboxes */
    input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    }
    
    /* Style the paragraph with class "hello" */
    /* Give everything with the class 'hello' a white background*/
    p.hello {
    font-weight: bold;
    background-color: white;
    }
    
    /* Style the paragraph with ID "special" */
    /* Give the element with id 'special' a 2px solid blue border(pick your own rgb blue)*/
    /*Make the first letter of the element with id 'special' green and 100px font size(font-size: 100)*/
    p#special {
    border: 2px solid;
    color: rgb(0,0,255);
    }
    #special:first-letter {
        color: green;
        font-size: 100px;
        }
    
    /* Style the links */
    a {
    color: blue;
    text-decoration: none;
    }
    
    a:hover {
    text-decoration: underline;
    }
    
    /* Style the input fields */
    /*Make all inputs have a 3px red border*/
    /*Make only inputs with type 'text' have a gray background*/
    input[type="text"] {
    margin: 10px 0;
    padding: 5px;
    border: 3px solid red;
    background-color: grey;
    }
    
    input[type="password"] 
    {
    margin: 10px 0;
    padding: 5px;
    border: 3px solid red;
    }

    label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 10px;
    }
    
    /* Style the main section */
    section {
    margin: 20px;
    }
    
    /* Style the first and last paragraphs */
    section p:first-of-type, section p:last-of-type {
    font-style: italic;
    }
    /* Give the <body> element a background of #bdc3c7*/
    body {
    background-color: #bdc3c7;
    }

    /* Make all <li> elements blue(pick your own hexadecimal blue)*/
    li {
    color: #258d6a;
    }
    /*Change the background on every paragraph to be yellow*/
    p{
        background-color: yellow
    }
    /* Give both <p>'s inside the 3rd <div> a pink background*/
    /* Make the <em> in the 3rd <div> element white and 20px font(font-size:20px)*/
    div:nth-child(3) p {
        background-color: pink;
    }
    div:nth-child(3) em {
    color: white;
    font-size: 20px;
    }
    /*Make the <a> element's color = gray that have been focused */
    a:focus {
        color: gray;
      }
      
