/* responsive text file */
@media (max-width: 992px) {
  #intro {
    font-size: 14px;
    width: fit-content;
    max-height: fit-content;
  }
  .containerAbout {
    margin-top: 20vw;
  }
  main {
    margin-top: 5vw;
  }
}

@media (min-width: 992px) {
  #intro {
    font-size: 2vh;
    padding-top: 2px;
  }
  .card-body {
    font-size: 24px;
  }
  #card-bodyh4 {
    font-size: 30px;
  }
  #card-bodyp {
    font-size: 20px;
    color: white;
    display: flex;
    flex-wrap: nowrap;
  }
}

@media (max-width: 768px) {
  .fs-3 {
    text-align: center;
  }
  #intro {
    font-size: 14px;
    padding-left: 1px;
  }
  .introduction {
    border: auto;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    margin-right: 9%;
    margin-top: 56vw;
  }
  header {
    display: flex;
    align-items: flex-start;
  }
  .bgcover {
    background-size: cover;
  }
  main {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
  }
  .title {
    width: 80vw;
    height: 30vh;
  }
  .card {
    width: 100vw;
  }
  .card-body {
    font-size: 10px;
  }
  #card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  #img1,
  #img2,
  #img3 {
    width: 100vw;
    text-align: center;
  }
  h1 {
    font-size: 30px;
  }
  .container {
    width: 100vvw;
  }
  .links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .companyName,
  .products,
  .usefullLinks,
  .contactC {
    width: 100vw;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .card-body {
    font-size: 8px;
  }
  main h4 {
    font-size: 11px;
  }
  .fs-3 {
    text-align: center;
  }
  #intro {
    font-size: 17px;
    padding-left: 1px;
  }
  #title {
    font-size: 20px;
  }
  .container {
    width: 100vvw;
  }
  .links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
