main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .parent {
    display: flex;
    flex-grow: 1;
  }
  
  .header {
    flex-grow: 2;
    background-color: #957dad;
  }
  
  .article {
    flex-grow: 1;
    background-color: #c6dbda;
  }
  
  .aside {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  
  .menu {
    flex-grow: 1;
    background-color: #ff968a;
  }
  
  .container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  
  .article-parent {
    display: flex;
    flex-grow: 1;
  }
  
  .item {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  footer {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 20px;
    background-color: #97c1a9;
  }
  
  .footer-content {
    flex-grow: 1;
  }
  