#content-container {
    background-image: url("/Mini-Project-1/images/bg1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20%;
}

#hey, #aspire {
    color: white;;
}

#about-me {
    padding: 5%;
}

#my-pic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}