/*THIS IS THE MAIN CONTAINER*/
.main-container {
    height: 1150px;
    width: 800px;
    background-color: white;
    margin: 30px auto;
    box-shadow: 5px 15px 15px 5px #b9b6b6;
  }
  
  /*LEFT SECTION*/
  .left-section {
    float: left;
    height: 100%;
    width: 30%;
    background-color: #082a4f;
    color: white;
  }
  
  .pic-container {
    padding-top: 70px;
      text-align: center;
  }
  
  .my-pic {
    width: 140px;
    height: 140px;
    border: 3px solid black;
    border-radius: 50%;
  }
  
  .my-contact,
  .my-languages {
    padding-left: 27px;
    font-weight: bold;
    font-size: 1.08em;
    font-family: "Verdana";
  }
  
  .contact-container,
  .languages-container {
    padding-left: 27px;
  }
  
  .my-contact {
    padding-top: 50px;
  }
  
  .my-languages {
    padding-top: 30px;
  }
  
  i {
    color: rgb(151, 144, 144);
  }
  
  /*RIGHT SECTION*/
  .right-section {
    float: right;
    height: 100%;
    width: 70%;
    background-color: white;
      font-family: "Verdana";
  }
  
  .name-course {
      padding-left: 40px;
      padding-top: 20px;
  }
  
  .name-span {
      font-family: "Verdana";
      font-size: 50px;
      font-weight: 900
  }
  
  .course-span {
      font-family: "Verdana";
      font-weight: 500;
      color: #aaabab;
  }
  
  .profile-container,
  .educ-background-container,
  .work-exp-container,
  .skills-container {
      padding-left: 40px;
      font-weight: 900;
  }
  
  .profile-info {
      padding-left: 50px;
      padding-right: 40px;
      text-align: justify;
  }
  
  .profile-container {
      padding-top: 20px;
  }
  
  .educ-background-container,
  .work-exp,
  .skills-container {
      padding-top: 15px;
  }
  
  .acad-year,
  .work-year-1,
  .work-year-2 {
      padding-left: 50px;
      font-weight: bold;
  }
  
  .school,
  .work-company-1,
  .work-company-2 {
      padding-left: 15px;
  }
  
  .course-take,
  .work-position-1,
  .work-position-2 {
      padding-left: 169px;
      color: #9c9c9c;
  }
  
  .work-desc-1,
  .work-desc-2 {
      padding-left: 169px;
      padding-right: 40px;
      text-align: justify;
  }
  
  .html,
  .css,
  .js,
  .python,
  .sql,
  .vbnet {
    padding-left: 50px;
    font-weight: bold;
  }